/*
* @Author: w3c0929
* @Date:   2017-07-14 01:44:36
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-14 17:01:18
*/
#app {
    width: 100px;
    height: 100px;
    background: #700;
    color: #fff;
}
div {
    background: #800;
    color: #fff;
}
