/*
* @Author: Administrator
* @Date:   2017-07-09 20:48:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-13 06:19:40
*/

div {
    background: #800;
    color: #fff;
    border: 10px solid #000;
    outline: 10px solid #900;
    margin: 10px;
    padding: 10px;
}
