@charset "UTF-8";
/*
* @Author: Administrator
* @Date:   2017-09-18 02:13:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-18 16:05:25
*/
/*==============================
  重置样式:(消bug，消差异)
==============================*/
input, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, hr, p, pre, dl, dd, form {
  margin: 0;
}

button, address, select, option, th, td, textarea {
  padding: 0;
}

body {
  word-wrap: break-word;
}

input, button, meter, progress, select, hr {
  box-sizing: content-box;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

textarea {
  overflow: auto;
  resize: none;
}

input:-webit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
  color: black;
  background-color: white;
  background-image: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.div1 {
  background: #000;
  color: #fff;
  border-radius: 340px;
  background-image: url(./img/2.png);
}
