/*
* @Author: Administrator
* @Date:   2017-07-09 20:48:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-15 14:40:04
*/

div {
    color: #fff;
    border: 10px solid #000;
    outline: 10px solid #800;
    margin: 10px;
    padding: 10px;
    background: #900;
}
